<section id="main">
    <div id="page-header">
    </div>
    <div id="main-content">
        <div class="row vertical-align">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div id="intro" class="text-center">
                    <h3>Hi, I&rsquo;m Zena.</h3>
                    <p class="lead">I like to <a href="https://github.com/zenahirsch" target="_blank">code</a>, <a href="https://www.duolingo.com/zhirsch" target="_blank">learn languages</a>, and <a href="https://www.instagram.com/p/BB0cbBww_Dd" target="_blank">chill with my dog</a>. I live in NYC.</p>
                    <p class="lead">Feel free to <a href="mailto:hirsch.zena@gmail.com">send me a note</a>!</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="/img/zena4.jpg" class="img-rounded img-responsive" id="portrait" alt="Portrait of Zena" />
            </div>
        </div>
    </div>
</section>