<section id="projects">
    <div id="page-header">
        <h3 class="text-center">Projects</h3>
        <p class="lead text-center">A few things I&rsquo;ve worked on.</p>
    </div>

    {{> projects-list}}
</section>