#manager-table td:first-of-type {
    width: 67%;
}

#manager-table td {
    width: 16.5%;
}

#page-header {
    padding: 1em 0 2em 0;
}

.item-content {
    margin-bottom: 0.2em;
}

.minor {
    color: rgba(0, 0, 0, 0.7);
}

